.text {
  font-size: 0.7rem;
  transition: fill 0.3s;

  &.text--blue {
    fill: #1b799b;
  }

  &.text--green {
    fill: #1b9562;
  }

  &.text--white {
    fill: #333333;
  }

  &.text--red {
    fill: $color-red;
  }


  &.text--icon {
    font-size: 17px;
    fill: $color-neon;
  }

  &.text--small {
    font-size: 19px;
  }

  &.text--big {
    font-size: 1.0rem;
  }

  &.text--alt {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
  }
}

.box.ssp {
  .text--white {
    text-transform: uppercase;
    letter-spacing: 0.02em;

    .isFirst {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

text {
  &.axis {
    fill: $color-dark-gray;

    &.label {
      font-weight: bold;
      fill: $color-deep-gray;
    }
  }
}

.box, .ball {
  .rect {
    transition: fill 0.3s, stroke 0.3s;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.05));

    &.rect--blue {
      fill: #d2e8f5;
      stroke: #a3d1ea;
    }

    &.rect--green {
      fill: #d2f4df;
      stroke: #a2e7c0;
    }

    &.rect--white {
      fill: #ffffff;
      stroke: #e4e4e4;
    }

    &.rect--red {
      fill: getColor(red, 100);
      stroke: getColor(red, 80);
    }
  }

  &.box--link {
    .text--white {
      // fill: $color-neon;
    }

    &:hover {
      .text {
        fill: getColor(neon, 45);
      }

      .rect--white, .rect--green, .rect--blue {
        fill: #fff;
        stroke: $color-neon;
      }
    }
  }

  &.isActive {
    .rect {
      fill: $color-neon;
      stroke: getColor(neon, 45);
      filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
    }

    .text--white {
      fill: $color-white;
    }
  }
}

.label {
  &.label--link {
    &:hover {
      .text {
        fill: getColor(neon, 45);
      }
    }
  }
}

.path {
  stroke: #75757a;
  stroke-width: 2px;
  fill: none;
}

line {
  stroke: #75757a;
}

.marker {
  fill: none;
  stroke: #75757a;
  stroke-width: 2px;
}
