.page {
  min-height: 96vh;
  margin: 4vh 2vw;
  display: grid;
  grid-row-gap: $gap-v-container;
  justify-content: center;
}

.container {
  width: 96vw;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: $gap-v-step;
  grid-column-gap: 4rem;

  .layout--narrow, .step, .step header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .step {
    .step--wider {
      grid-column-end: 4;
    }

    header {
      margin-bottom: 2rem;
    }

    &.step--columns {
      grid-column-end: 6;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 4rem;

      .content {
        column-count: 2;
        column-gap: 4rem;
        grid-column-start: 1;
        grid-column-end: 5;
      }

      .footnotes {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 6;
      }
    }
  }

  .layout--wide, .module-meta {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .layout--right-wide {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .layout--left {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .layout--right {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}
